[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
python-webpack-boilerplate = "*"
djangorestframework = "*"
django-file-form = "*"

[dev-packages]
ptpython = "*"

[scripts]
backend = "python manage.py runserver"
frontend = "npm run watch"